body {
  font-family: sans-serif;
}
@font-face {
  font-family: 'Colfax Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Regular'), url('/fonts/Colfax-Black.woff') format('woff');
  }
  