body{
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .mainhead{
    max-width: 1140px;;
    margin-left: auto;
    margin-right: auto;
  }
 .head{
    height: 300px;
    width: 100%;
    background-image: url("/img/Background5.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.utopia{
  height: 100px;
  width: 100%;
  margin-top: 100px;
  margin-left: 40%;
  background-image: url("/img/UtopiaLogo.png");
  background-repeat: no-repeat;
    
}

.insideutopia{
  height:59px;
  width:204px;
  border: 2px solid  #3023AE  ;
  box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
}
.navigation{
  width: 100%;
  height: 17px;
  display: flex;
  justify-content: center;
}
.navigation a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 37px;
  opacity: 0.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Colfax Medium;

}

.navigation .active{
  color: white;
  font-size: 14px;
  margin-right: 37px;
  opacity: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Colfax Medium;
}