body{
    padding: 0px;
    margin: 0px;
    color: white;
    background: #04030F;
  }
  .container{
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
  }
  .mainin{
    background: #04030F;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    box-sizing: border-box;
}

.headingin{
margin: 0px;
padding: 0px;
font-family: Google Sans;
line-height: 41px;
font-size: 32px;
text-align: start;
color: #FFFFFF;
margin-left: 35%;
}
.insideinvolve{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.div{
height: 176px;
display: flex;
margin-top:30px;
background: #FFFFFF;
box-shadow: 5px 2px 50px rgba(0, 0, 0, 0.08);
border-radius: 6px;

}
.div .left{
    flex: 7;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    display: flex;
}
.div .left .upper{
    width: 100%;
    font-family: Colfax;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #000000;

}
.div .left .lower{
width: 100%;
font-family: Colfax;
line-height: 24px;
font-size: 14px;
letter-spacing: 0.6px;
color: #000000;
margin-top: 10px;
}

.div .right{
flex: 3;
}
.citizenbutton{
margin-top: 45px;
height: 51px;
width: 255px;
background: linear-gradient(168.56deg, #3023AE -25.63%, #C86DD7 134.63%);
border-radius: 6px;
font-family: Colfax;
line-height: 15px;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #FFFFFF;


}
.othrbutton{
    margin-top: 45px;
    height: 51px;
    width: 255px;
    border-radius: 6px;
    font-family: Colfax;
    line-height: 15px;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #000000;
    box-shadow: 5px 2px 60px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    
    }
    .right-arrow{
        font-size: 32px;
        margin-left: 2%;
        }
   