body{
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .main{
    height: 1500px;
    background: #04030F;
}

.headingin{
margin: 0px;
padding: 0px;
font-family: Google Sans;
line-height: 41px;
font-size: 32px;
text-align: start;
color: #FFFFFF;
margin-left: 30%;
}
.div{
height: 152px;
width: 70%;
display: flex;
margin-left: 135px;
margin-top:30px;
background: #FFFFFF;
box-shadow: 5px 2px 50px rgba(0, 0, 0, 0.08);
border-radius: 6px;

}
.div .left{
    flex: 7;
    flex-direction: column;
}
.div .left .upper{
    margin-left: 48px;
    width: 100%;
    font-family: Colfax;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #000000;
}
.div .left .lower{
margin-left: 48px;
width: 100%;
font-family: Colfax;
line-height: 24px;
font-size: 14px;
letter-spacing: 0.6px;
color: #000000;
margin-top: 10px;
}

.div .right{
flex: 3;
}
.citizenbutton{
margin-top: 45px;
height: 51px;
width: 255px;
background: linear-gradient(168.56deg, #3023AE -25.63%, #C86DD7 134.63%);
border-radius: 6px;
font-family: Colfax;
line-height: 15px;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #FFFFFF;


}
.othrbutton{
    margin-top: 45px;
    height: 51px;
    width: 255px;
    border-radius: 6px;
    font-family: Colfax;
    line-height: 15px;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #000000;
    box-shadow: 5px 2px 60px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    
    }