body{
    padding: 0.1px;
    margin: 0px;
    color: white;
    background: #04030F;
  }
  .mainshophead{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mainsh{
    height: 1500px;
    background: #04030F;
    display: flex;
    justify-content: center;
}
.utopiabox{
    margin: 0px;
    padding: 0px;
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.utopiaimg{
    height: 200px;
    width: 220px;
    background-image: url("/img/utopia.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: aquamarine; */
}
.tag{
    margin-top: 100%;
    margin-left: 13%;
    font-family: Colfax;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtag{
    margin-top: 5%;
    margin-left: 25%;
    font-family: Colfax;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}