body {
  padding: 0px;
  margin: 0px;
  color: white;
}
.container {
  max-width: 1140px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.operate {
  padding-bottom: 10%;
  margin-top: 10%;
  max-width: 100%;
  background: #04030f;
}
.headingos {
  margin: 0px;
  padding: 0px;
  font-family: Colfax Medium;
  line-height: 48px;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.headingos p {
  margin: 0px;
  text-align: center;
}
.subdata {
  margin-top: 35px;
  font-family: Colfax Regular;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}
.git {
  display: flex;
  justify-content: center;
}
.gitbutton {
  margin-top: 80px;
  height: 51px;
  width: 255px;
  background: linear-gradient(169.59deg, #3023ae -36.97%, #c86dd7 148.62%);
  box-shadow: 5px 2px 40px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: 0px;
  font-family: Colfax Medium;
  line-height: 12px;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

<<<<<<< HEAD
  color: #ffffff;
}
.myutopia {
  flex: 1;
  height: 250px;
  background-image: url("/img/myutopia.png");
  background-repeat: no-repeat;
  background-size: 163px 163px;
}
.legal {
  flex: 1;
  height: 250px;
  background-image: url("/img/legal.png");
  background-repeat: no-repeat;
  background-size: 163px 163px;
}
.business {
=======
  }
  .maindata{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  .myutopia{
      flex: 1;
      height: 250px;
      width: 163px;
      background-image: url("/img/myutopia.png");
      background-repeat: no-repeat;
     /*  background-size: 100% 100%; */
  }
  
  .legal{
    flex: 1;
    height: 250px;
    width: 163px;
    background-image: url("/img/legal.png");
    background-repeat: no-repeat;

}
.business{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/business.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
=======
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
}
.finance {
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/finance.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
=======
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
}
.public {
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/servant.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.education {
  flex: 1;
=======
}
.education{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  height: 250px;
  width: 163px;
  background-image: url("/img/education.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.real {
  flex: 1;
=======
}
.real{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  height: 250px;
  width: 163px;
  background-image: url("/img/real.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.emergency {
  flex: 1;
=======
}
.emergency{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  height: 250px;
  width: 163px;
  background-image: url("/img/emergency.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.voting {
  flex: 1;
=======
}
.voting{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  height: 250px;
  width: 163px;
  background-image: url("/img/voting.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.utopians {
  flex: 1;
=======
}
.utopians{
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b
  height: 250px;
  width: 163px;
  background-image: url("/img/utopian.png");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: 163px 163px;
}
.parentoval {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
  font-family: Colfax Medium;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
=======
}
  .parentoval{
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      max-width: 90%;
  }
  .text{
      font-family: Colfax Medium;
      line-height: 24px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      color: #FFFFFF;
  }
.text2{
      margin-top: 120px;
      font-family: Colfax Medium;
      line-height: 48px;
      font-size: 32px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
>>>>>>> 47027489cb9c63d8e93f2ce72179a3e77e50b85b

  color: #ffffff;
}
.text p {
  border: 0px;
  text-align: center;
}
.text2 {
  margin-top: 120px;
  font-family: Colfax Medium;
  line-height: 48px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
}
.lowertext {
  margin-top: 50px;
}
