body{
    padding: 0.1px;
    margin: 0px;
    color: white;
}

.section1{
    width: 1440px;
    height: 1320px;
    background: green;
}

.section2{
    width: 1440px;
    height: 2048px;
    background: #04030F;
    overflow: hidden;
}

.section2 .wrapper{
    width: 1170px;
    height: 1728px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.section2 .wrapper .part1{
    flex: 1;
    display: flex;
}

.section2 .wrapper .part1 .container-left{
    flex: 0.42;
}

.section2 .wrapper .part1 .container-left .header{
    background: #43E97B;
    width: 366px;
    height: 202px;
}

.section2 .wrapper .part1 .container-left .menu{
    width: 338px;
    height: 168px;
    background: #fff;
    position: relative;
    top: -28px;
    left: 153px;
}

.section2 .wrapper .part1 .container-left .my-balance{
    background: purple;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 338px;
    height: 131px;
    position: relative;
    top: -58px;
    left: 36px;
}
.section2 .wrapper .part1 .container-right{
    flex: 0.58;
}

.section2 .wrapper .part1 .container-right .info{
    width: 470px;
    height: 184px;
    margin-left: 205px;
}

.section2 .wrapper .part1 .container-right .info-title{
    margin-top: 60px;
    width: 396px;
    height: 29px;
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
}

.section2 .wrapper .part1 .container-right .info-content{
    margin-top: 19px;
    width: 407px;
    height: 102px;
    font-size: 16px;
    line-height: 43px;
}

.section2 .wrapper .part1 .container-right .button-utopia-business-app{
    width: 227px;
    height: 59px;
    margin-top: 14px;
    margin-left: 205px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-style: italic;
}

.section2 .wrapper .part2{
    flex: 1;
    margin-top: 200px;
    display: flex;
}

.section2 .wrapper .part2 .container-left{
    flex: 0.58;
}

.section2 .wrapper .part2 .container-left .info{
    width: 470px;
    height: 184px;
    margin-top: 69px;
}

.section2 .wrapper .part2 .container-left .info-title{
    margin-top: 60px;
    width: 396px;
    height: 29px;
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
}

.section2 .wrapper .part2 .container-left .info-content{
    margin-top: 19px;
    width: 407px;
    height: 102px;
    font-size: 16px;
    line-height: 43px;
}

.section2 .wrapper .part2 .container-left .button-utopia-gold-app{
    width: 227px;
    height: 59px;
    margin-top: 14px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-style: italic;
}

.section2 .wrapper .part2 .container-right{
    flex: 0.42;
}

.section2 .wrapper .part2 .container-right .send-money{
    width: 338px;
    height: 151px;
    background: white;
    margin-left: 168px
}

.section2 .wrapper .part2 .container-right .expenses{
    margin-top: 30px;
    margin-left: 105px;
    width: 338px;
    height: 262px;
    background: white;
}

.section2 .wrapper .part2 .container-right .my-balance{
    width: 338px;
    height: 131px;
    background-image: url("img/Background3.png");
    background-size: cover;
    position: relative;
    top: -360px;
}

.section2 .wrapper .part3{
    flex: 1;
    margin-top: 200px;
    display: flex;
}

.section2 .wrapper .part3 .container-left{
    flex: 0.42;
}

.section2 .wrapper .part3 .container-left .header{
    width: 366px;
    height: 202px;
    background: #43E97B;
}

.section2 .wrapper .part3 .container-left .menu{
    width: 338px;
    height: 168px;
    margin-left: 110px;
    background: white;
    position: relative;
    top: -36px;
}

.section2 .wrapper .part3 .container-left .my-balance{
    width: 338px;
    height: 137px;
    margin-left: 36px;
    background: orange;
    position: relative;
    top: -64px;
}

.section2 .wrapper .part3 .container-right{
    flex: 0.58;
}

.section2 .wrapper .part3 .container-right .info{
    width: 470px;
    height: 184px;
    margin-top: 86px;
    margin-left: 205px;
}

.section2 .wrapper .part3 .container-right .info-title{
    width: 380px;
    height: 29px;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
}

.section2 .wrapper .part3 .container-right .info-content{
    color: white;
    margin-top: 19px;
    font-size: 16px;
    line-height: 34px;
}

.section2 .wrapper .part3 .container-right .button-government-app{
    width: 227px;
    height: 59px;
    margin-top: 14px;
    margin-left: 205px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-style: italic;
}
.section3{
    width: 1440px;
    height: 1268px;
    background: yellow;
}

.section4{
    width: 1440px;
    height: 1983px;
    background: blue;
}
