body{
    padding: 0px;
    margin: 0px;
}

.section1{
    width: 1440px;
    height: 1320px;
    background: green;
}

.section2{
    width: 1440px;
    height: 2048px;
    background: red;
}

.section3{
    width: 1440px;
    height: 1268px;
    background: yellow;
}

.section4{
    width: 1440px;
    height: 1983px;
}
.section4 .account-section{
      height:590px;
      width: 1440px;
      background: linear-gradient(157.52deg, #3023AE 0%, #C86DD7 101.5%);
}
.section4 .account-button-text{   
    margin-left: 849px; 
    margin-top: 160px;
    height:98px;
    width: 398px;
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 34px;
    letter-spacing: 1px;
    background: #D8D8D8;
    border: 1px solid #979797;
    box-sizing: border-box;
}
.section4 .lower-section{
    width: 1440px;
    height:1393px;
}
.section4 .account-section-header{
       margin-left: 160px;
       font-family: ABeeZee;
       font-style: italic;
       font-weight: normal;
       line-height: normal;
       font-size: 34px;
       letter-spacing: 1px;
       text-transform: uppercase;
       color: #FFFFFF;
}
.section4 .account-section-subhead{
    margin-left: 184px;
    margin-top: 32px; 
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
}


.section4 .lower-section-header{
    margin-left: 202px;
    margin-top: 104px;
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 1px;

    color: #1D1E1F;

}
.section4 .lower-section-subhead{
   width: 637px;
   height: 282px;
   margin-left: 261px;
   margin-top: 63px; 
   font-family: ABeeZee;
   font-style: italic;
   font-weight: normal;
   line-height: normal;
   font-size: 20px;
   letter-spacing: 1px;

   color: #1D1E1F;

}

.section4 .lower-section-insidesubhead1{
    margin-left: 220px;
    margin-top: 357px; 
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 1px; 
    color: #1D1E1F;
 
 }
 .section4 .lower-section-insidesubhead2{
    margin-left: 209px;
    margin-top: 27px; 
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 1px; 
    color: #1D1E1F;
 
 }
 .section4 .lower-section-insidesubhead3{
    margin-left: 208px;
    margin-top: 39px; 
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 1px; 
    color: #1D1E1F;
 
 }
 
/* .text{
   

/* Rectangle */

position: absolute;
left: 65.9%;
right: 6.46%;
top: 76.83%;
bottom: 21.67%;

background: #D8D8D8;
border: 1px solid #979797;
box-sizing: border-box;



} */
