body{
    padding: 0px;
    margin: 0px;
}

.section1{
    width: 1440px;
    height: 1320px;
    background: green;
}

.section2{
    width: 1440px;
    height: 2048px;
    background: red;
}

.section3{
    width: 1440px;
    height: 1268px;
    background: yellow;
}

.section4{
    width: 1440px;
    height: 1983px;
    background: blue;
}